body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

/* Style for Loading Page */
.animation-square{
    margin: 17% auto;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1001;
    transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
}

/* Parameter along with the tag p */
.loaded .animation-square, .loaded #loader-wrapper p{
    opacity: 0;
    transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -webkit-transition: all 0.5s ease-out;
}

.animation-square .load-square{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
}

.animation-square .load-square:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #616161;
    animation: animate 2.3s infinite linear both;
        -ms-animation: animate 2.3s infinite linear both;
        -webkit-animation: animate 2.3s infinite linear both;
    transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
}

.animation-square .load-square-2{
    transform: scale(1.1) rotateZ(90deg);
        -ms-transform: scale(1.1) rotateZ(90deg);
        -webkit-transform: scale(1.1) rotateZ(90deg);
}
.animation-square .load-square-3{
    transform: scale(1.1) rotateZ(180deg);
        -ms-transform: scale(1.1) rotateZ(180deg);
        -webkit-transform: scale(1.1) rotateZ(180deg);
}
.animation-square .load-square-4{
    transform: scale(1.1) rotateZ(270deg);
        -ms-transform: scale(1.1) rotateZ(270deg);
        -webkit-transform: scale(1.1) rotateZ(270deg);
}

.animation-square .load-square-2:before{
    animation-delay: .2s;
        -ms-animation-delay: .2s;
        -webkit-animation-delay: .2s;
}
.animation-square .load-square-3:before{
    animation-delay: .5s;
        -ms-animation-delay: .5s;
        -webkit-animation-delay: .5s;
}
.animation-square .load-square-4:before{
    animation-delay: .8s;
        -ms-animation-delay: .8s;
        -webkit-animation-delay: .8s;
}

@-ms-keyframes animate{
    0%, 10%{
        -ms-transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }20%, 75%{
        -ms-transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }90%, 100%{
        -ms-transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes animate{
    0%, 10%{
        -webkit-transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }20%, 75%{
        -webkit-transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }90%, 100%{
        -webkit-transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes animate{
    0%, 10%{
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }20%, 75%{
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }90%, 100%{
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/* Style for <p> Loading */
#loader-wrapper p{
    z-index: 1002;
    position: relative;
    text-align: center;
    color: #616161;
} 

/* Style Loader Wrapper */
#loader-wrapper .loaderSection{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: white;
    z-index: 1000;
}

.loaderSection.section-left{
    left: 0;
}

.loaderSection.section-right{
    right: 0;
}

.loaded .loaderSection.section-left{
    transform: translateX(-100%);
    transition: all 0.6s 0.6s ease-out;
        -webkit-transition: all 0.6s 0.6s ease-out;
}
.loaded .loaderSection.section-right{
    transform: translateX(100%);
    transition: all 0.6s 0.6s ease-out;
        -webkit-transition: all 0.6s 0.6s ease-out;
}

.loaded #loader-wrapper{
    visibility: hidden;
}

.loaded .loader-wrapper{
    transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    transition: all 0.6s 1.2s ease-out;
        -ms-transition: all 0.6s 1.2s ease-out;
        -webkit-transition: all 0.6s 1.2s ease-out;
}

/* Style content */
#myInformation{
    margin-top: -18%;
}

.inner-information{
    text-align: center;
}

h1{
    margin-bottom: 3px;
    font-size: 46px;
}

hr{
    width: 350px;
}

.inner-information p{
    font-size: 28px;
    font-weight: 400;
    font-family:  monospace;
    margin-top: 10px;
}
